<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body>

  <!--Navbar Section-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center dropdown-button" data-activates="dropdown1"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Food</a></li>
          <li class="divider"></li>
          <li><a href="#!">Entertainment</a></li>
          <li class="divider"></li>
          <li><a href="#!">Bars</a></li>
        </ul>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/login">Login</a></li>
      </ul>      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav> 

  <!--Navbar End-->

  {{{ body }}}


  <!--Footer-->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  ​
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>
  <script type="text/javascript" src="/js/validation.js"></script>

</body>
</html>