<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">

</head>
<body>

  <!--Navbar Section-->
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center dropdown-button" data-activates="dropdown1"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Food</a></li>
          <li class="divider"></li>
          <li><a href="#!">Entertainment</a></li>
          <li class="divider"></li>
          <li><a href="#!">Bars</a></li>
        </ul>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <a class="modal-trigger" href="#login">Login</a>
      </ul>      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/register">Register</a></li>
      </ul>
    </div>
  </nav> 

  <!--Navbar End-->

  {{{ body }}}

  <!-- Modal Structure -->
     <div id="login" class="modal">
     <div class="modal-content">
      <form class="col s12" id="login-form" method="POST" action="/login">
        
          <h3>Login</h3>
          <div class="row">
            <div class="input-field col s12">
              <input id="username" type="text" name="username">
              <label for="username">Username</label>
            </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password">
              <label for="password">Password</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
          <button type="submit" class="btn modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
        </div>
      </form>
     </div>
    </div>



<!--Footer-->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12">
      <h1 class="creators">Meet the Makers</h1>
        <!-- Wolfgang -->
          <div class="col l4">
            <h7 class="creators">Wolfgang Hall</h7>
            <br>
              <img class="creatorPic" src="images/wolfgang.png">
          </div>
        <!-- Dan -->
          <div class="col l4">
          <h7 class="creators">Daniel Petro</h7>
          <br>
            <img class="creatorPic" src="images/danielPetro.png">
          </div>
        <!-- Richard -->
          <div class="col l4">
          <h7 class="creators">Richard Mensah</h7>
          <br>
            <img class="creatorPic" src="images/richard.png">
          </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 What'RU Looking For, All rights reserved
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="/js/validate.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>