
<div class="container">
  <div class="col s10 offset-s1">
    <h1>Create Review</h1>

    <div class="row">
      <form action="/newplace" method="POST" class="col s12" id="placeform">
        <div class="input-field col s10">
          <select id="inputfield" name="category">
            <option value="" disabled selected>Category</option>
            <option value="">All</option>
            <option value="restaurants">Restaurants</option>
            <option value="nightlife">Nightlife</option>
            <option value="classroom-buildings">Classroom Buildings</option>
          </select>
          <label>Category Select</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s10">
          <input id="icon_prefix" type="text" id="company" name="company">
          <label for="icon_prefix">Company</label>
        </div>
      </div>    

      <div class="row">
        <div class="input-field col s5">
          <input id="icon_prefix" type="text" id="address" name="address">
          <label for="icon_prefix">Address</label>
        </div>

        <div class="input-field col s5">
          <input id="icon_telephone" type="tel" name="telephone">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s5" id="stars">
          <select name="stars">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">1 star</option>
            <option value="2">2 stars</option>
            <option value="3">3 stars</option>
            <option value="4">4 stars</option>
            <option value="5">5 stars</option>
          </select>
          <label>Rate your experience:</label>
        </div>


        <div class="input-field col s5" id="price">
          <select name="price">
            <option value="" disabled selected>Choose your option</option>
            <option value="1">$</option>
            <option value="2">$$</option>
            <option value="3">$$$</option>
            <option value="4">$$$$</option>
            <option value="5">$$$$$</option>
          </select>
          <label>Pricing:</label>
        </div>
      </div>


      <button class="btn waves-effect waves-light" type="submit">Submit
      </button>
    </form>
  </div>
</div>

