<!--Night Life Parallex-->
<div class="row">
  <div class="col l12 s12 m12">
    <div class="parallax-container parallex-bg3">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="parallaxHeader"></h1>
<h7 class="col l8 offset-l2" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <h7>
        <div class="parallax"><img class="bg3-1" src="images/logo.jpg"></div>
    </div>
  </div>
      <a class="col l2 offset-l5 waves-effect waves-light btn-large signupBtn"><i class="material-icons left fa fa-user-plus" href="/register"></i>Sign Up</a>
</div>


<!--Food Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
      <h1 class="parallaxHeader">FOOD</h1>
        <div class="parallax"><img class="bg3-1" src="images/burgers.jpg"></div>
    </div>
  </div>


<!--Food Section-->
<div class="row">
  <div class="col l4 offset-l5">
    <h5>Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 filters" style="
    margin-left: 50px;
    margin-top: 50px;
    height: 308px;
">
  <h4 class="">Star Rating</h4>
      <form action="#">
    <p>
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p>
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>

  </div>
  <div class="col l6" style="
    margin-left: 50px;
">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filters" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filters" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filters" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filters" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filters" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2  filters" style="
    margin-top: 50px;
    margin-left: 50px;
    height: 308px;
">
  <h6>Company Information</h6>
    <ul>
    <li class="divider"></li>
    <li>Phone #:</li>
    <li class="divider"></li>
    <li>(732) 846-7090</li>
    <li class="divider"></li>
    <li>Address:</li>
    <li class="divider"></li>
    <li>130 Easton Avenue, New Brunswick</li>
    <li class="divider"></li>
    <li>Operating Hours</li>
    <li class="divider"></li>
    <li>8am - 3am | Sunday-Sunday</li>
    <li class="divider"></li>
    <li>Price:</li>
    <li class="divider"></li>
    <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
    <li class="divider"></li>
    <li>Rating:</li>
    <li class="divider"></li>
    <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Reviews</a>
  </div>
</div>

<!--Night Life Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
      <h1 class="parallaxHeader">Night Life</h1>
        <div class="parallax"><img class="bg3-1" src="images/nightlife.jpg"></div>
    </div>
  </div>

<!--NightLife Section -->

<div class="row">
  <div class="col l4 offset-l5">
    <h5>Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 filters" style="
    margin-left: 50px;
    margin-top: 50px;
    height: 308px;
">
  <h4 class="">Star Rating</h4>
      <form action="#">
    <p>
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p>
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>

  </div>
  <div class="col l6" style="
    margin-left: 50px;">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filters" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filters" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filters" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filters" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filters" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2  filters" style="
    margin-top: 50px;
    margin-left: 50px;
    height: 308px;
">
  <h6>Company Information</h6>
    <ul>
    <li class="divider"></li>
    <li>Phone #:</li>
    <li class="divider"></li>
    <li>(732) 846-7090</li>
    <li class="divider"></li>
    <li>Address:</li>
    <li class="divider"></li>
    <li>130 Easton Avenue, New Brunswick</li>
    <li class="divider"></li>
    <li>Operating Hours</li>
    <li class="divider"></li>
    <li>8am - 3am | Sunday-Sunday</li>
    <li class="divider"></li>
    <li>Price:</li>
    <li class="divider"></li>
    <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
    <li class="divider"></li>
    <li>Rating:</li>
    <li class="divider"></li>
    <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Reviews</a>
  </div>
</div>

<!--Classroom Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
      <h1 class="parallaxHeader">Classroom Buildings</h1>
        <div class="parallax"><img class="bg3-1" src="images/classroom.jpg"></div>
    </div>
  </div>

<!--Classroom Section-->
<div class="row">
  <div class="col l4 offset-l5">
    <h5>Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 filters" style="
    margin-left: 50px;
    margin-top: 50px;
    height: 308px;
">
  <h4 class="">Star Rating</h4>
      <form action="#">
    <p>
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p>
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>

  </div>
  <div class="col l6" style="
    margin-left: 50px;
">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filters" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filters" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filters" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filters" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filters" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2  filters" style="
    margin-top: 50px;
    margin-left: 50px;
    height: 308px;
">
  <h6>Company Information</h6>
    <ul>
    <li class="divider"></li>
    <li>Phone #:</li>
    <li class="divider"></li>
    <li>(732) 846-7090</li>
    <li class="divider"></li>
    <li>Address:</li>
    <li class="divider"></li>
    <li>130 Easton Avenue, New Brunswick</li>
    <li class="divider"></li>
    <li>Operating Hours</li>
    <li class="divider"></li>
    <li>8am - 3am | Sunday-Sunday</li>
    <li class="divider"></li>
    <li>Price:</li>
    <li class="divider"></li>
    <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
    <li class="divider"></li>
    <li>Rating:</li>
    <li class="divider"></li>
    <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Reviews</a>
  </div>
</div>