<!--Banner Parallex-->
<div class="row">
  <div class="col l12 s12 m12">
    <div class="parallax-container parallex-bg3">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="parallaxHeader"></h1>
      <h7 class="col l8 offset-l2" >Ever wanted to find out what the locals are saying about establishments at Rutgers University? Well, look no more. 'What RU Looking For' aggregates reviews and comments about activities and places near and around RU. No longer must you fly blind. With peer-created reviews, navigate the campus with pristine, second-hand knowledge. Registered users can also provide their own reviews. Come join the community!<h7>
        <div class="parallax"><img class="bg3-1" src="images/logo.jpg"></div>
      </div>
    </div>
    <a href="/register" class="col l2 offset-l5 waves-effect waves-light btn-large signupBtn"><i class="material-icons left fa fa-user-plus" ></i>Sign Up</a>
  </div>


  <!--Food Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
      <h1 class="parallaxHeader">FOOD</h1>
      <div class="parallax"><img class="bg3-1" src="images/burgers.jpg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col l4 offset-l3">
     <a href="/addplace" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Food Review</a>
   </div>
   <div class="col l4">
    <a href="/place/food" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Food Reviews</a>
  </div>
</div>



<!--Night Life Parallex-->
<div class="col l12">
  <div class="parallax-container parallex-bg3">
    <h1 class="parallaxHeader">Night Life</h1>
    <div class="parallax"><img class="bg3-1" src="images/nightlife.jpg"></div>
  </div>
</div>


<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addplace" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Nightlife Review</a>
 </div>
 <div class="col l4">
  <a href="/place/nightlife" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Nightlife Reviews</a>
</div>
</div>

<!--Classroom Parallex-->
<div class="col l12">
  <div class="parallax-container parallex-bg3">
    <h1 class="parallaxHeader">Classroom Buildings</h1>
    <div class="parallax"><img class="bg3-1" src="images/classroom.jpg"></div>
  </div>
</div>



<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addplace" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Classroom Building Review</a>
 </div>
 <div class="col l4">
  <a href="/place/classroom-buildings" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Classroom Building Reviews</a>
</div>
</div>


<!--Tourism Parallex-->
<div class="col l12">
  <div class="parallax-container parallex-bg3">
    <h1 class="parallaxHeader">TOURISM</h1>
    <div class="parallax"><img class="bg3-1" src="https://images.unsplash.com/photo-1418272235035-0af44555fc86?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9accb5232fecdaf2f08df1f1f12ac049"></div>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addplace" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Tourism Review</a>
 </div>
 <div class="col l4">
 <a href="/place/tourism" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>Tourism Reviews</a>
</div>
</div>

<!--Footer-->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12">
      <h1 class="creators">Meet the Makers</h1>
        <!-- Wolfgang -->
          <div class="col m4 l4">
            <h7 class="creators">Wolfgang Hall</h7>
            <br>
              <img class="creatorPic" src="images/wolfgang.png">
          </div>
        <!-- Dan -->
          <div class="col m4 l4">
          <h7 class="creators">Daniel Petro</h7>
          <br>
            <img class="creatorPic" src="images/danielPetro.png">
          </div>
        <!-- Richard -->
          <div class="col m4 l4">
          <h7 class="creators">Richard Mensah</h7>
          <br>
            <img class="creatorPic" src="images/richard.png">
          </div>
      </div>
    </div>
  </div>
