<!--WHAT'RU LOOKING FOR? SECTION-->
<div class="row">
  <div class="col l12 s12 m12">
    <div class="parallax-container parallex-bg3">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <h1 class="parallaxHeader"></h1>
<h7 class="col l8 offset-l2 missionStatement1" >What'RU Looking For is a review app for Rutgers, New Brunswick: Students, Teachers and Residents. This app is designed to give a user the ability to view or create comments about their favorite places in the New Brunswick Area.<br>
(You must first sign up and login to create a review of your own. Non-users can review all comments)  <h7>
        <div class="parallax"><img class="bg3-1" src="images/logo1.jpg"></div>
    </div>
  </div>
      <a class="col l2 offset-l5 col m2 offset-m5 col s4 offset-s3 waves-effect waves-light btn-large signupBtn hide-on-med-and-down" href="/register"><i class="material-icons left fa fa-user-plus" ></i>Sign Up</a>
      <a class="col l2 offset-l5 col m3 offset-m4 col s6 offset-s3 waves-effect waves-light signupBtnSm btn-large hide-on-large-only" href="/register"><i class="material-icons left fa fa-user-plus" ></i>Sign Up</a>
</div>


<!--Food Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
        <div class="parallax"><img class="bg3-1" src="images/burgers.jpg"></div>
    </div>
  </div>


<!--Food Section-->
<div class="row">
<div class="col l12 m12 s12">
  <h1 class="parallaxHeader">Food</h1>
</div>
  <div class="col l4 offset-l4 companyNameBox">
    <h5 class="companyName">Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox hide-on-med-and-down" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">
  <h4 class="filters hide-on-med-and-down filterFont" style="
    height: 364px;
">Filter by:<br>
        <li class="divider"></li>
        <li class="divider"></li>
<p class="filterTitle">Stars</p>
        <li class="divider"></li>
        <li class="divider"></li>
  <form action="#">
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star "></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>
        <li class="divider"></li>
        <li class="divider"></li>
    <form action="#"> <p class="filterTitle">Price:</p>
            <li class="divider"></li>
        <li class="divider"></li>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test5"  />
      <label for="test5"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd "></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test6"  />
      <label for="test6"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test7"  />
      <label for="test7"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test8"  />
      <label for="test8"><a class="fa fa-usd"></a></label>    </p>
  </form>

</h4>
  </div>


<div id="card hide-on-large-only col m1 offset-m3"> 
  <div class="front hide-on-large-only carouselImg "> 
    <img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg">
  </div> 
  <div class="back hide-on-large-only carouselImg">
    <img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg">
  </div> 
</div>






  <div class="col l6" style="
    margin-left: 50px;
">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filtersBox" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filtersBox" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filtersBox" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">

  <h6 class="filters companyInfoHeader hide-on-med-and-down" style="
  
    height: 364px;
    margin-top: 15px;

">Company Information
        <li class="divider"></li>
        <li class="divider"></li>
    <ul>
      <li class="companyInfo">Phone #:</li>
      <li class="divider"></li>
      <li>(732) 846-7090</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Address:</li>
      <li class="divider"></li>
      <li>130 Easton Avenue, New Brunswick</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Operating Hours</li>
      <li class="divider"></li>
      <li>8am - 3am</li>
      <li>Sunday-Sunday</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Price:</li>
      <li class="divider"></li>
      <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Rating:</li>
      <li class="divider"></li>
      <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
      <li class="divider"></li>
    </ul>
    </h6>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>See Reviews</a>
  </div>
</div>

<!--Night Life Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
        <div class="parallax"><img class="bg3-1" src="images/nightlife.jpg"></div>
    </div>
  </div>

<!--NightLife Section -->

<div class="row">
<div class="col l12 m12 s12">
  <h1 class="parallaxHeader">Bars</h1>
</div>
  <div class="col l4 offset-l4 companyNameBox">
    <h5 class="companyName">Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox hide-on-med-and-down" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">
  <h4 class="filters hide-on-med-and-down filterFont" style="
    height: 364px;
">Filter by:<br>
        <li class="divider"></li>
        <li class="divider"></li>
<p class="filterTitle">Stars</p>
        <li class="divider"></li>
        <li class="divider"></li>
  <form action="#">
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star "></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>
        <li class="divider"></li>
        <li class="divider"></li>
    <form action="#"> <p class="filterTitle">Price:</p>
            <li class="divider"></li>
        <li class="divider"></li>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test5"  />
      <label for="test5"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd "></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test6"  />
      <label for="test6"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test7"  />
      <label for="test7"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test8"  />
      <label for="test8"><a class="fa fa-usd"></a></label>    </p>
  </form>

</h4>
  </div>


<div id="card hide-on-large-only col m1 offset-m3"> 
  <div class="front hide-on-large-only carouselImg "> 
    <img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg">
  </div> 
  <div class="back hide-on-large-only carouselImg">
    <img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg">
  </div> 
</div>






  <div class="col l6" style="
    margin-left: 50px;
">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filtersBox" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filtersBox" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filtersBox" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">

  <h6 class="filters companyInfoHeader hide-on-med-and-down" style="
  
    height: 364px;
    margin-top: 15px;

">Company Information
        <li class="divider"></li>
        <li class="divider"></li>
    <ul>
      <li class="companyInfo">Phone #:</li>
      <li class="divider"></li>
      <li>(732) 846-7090</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Address:</li>
      <li class="divider"></li>
      <li>130 Easton Avenue, New Brunswick</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Operating Hours</li>
      <li class="divider"></li>
      <li>8am - 3am</li>
      <li>Sunday-Sunday</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Price:</li>
      <li class="divider"></li>
      <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Rating:</li>
      <li class="divider"></li>
      <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
      <li class="divider"></li>
    </ul>
    </h6>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>See Reviews</a>
  </div>
</div>


<!--Classroom Parallex-->
  <div class="col l12">
    <div class="parallax-container parallex-bg3">
        <div class="parallax"><img class="bg3-1" src="images/entertainment.jpg"></div>
    </div>
  </div>

<!--Classroom Section-->
<div class="row">
<div class="col l12 m12 s12">
  <h1 class="parallaxHeader">Entertainment</h1>
</div>
  <div class="col l4 offset-l4 companyNameBox">
    <h5 class="companyName">Hansel & Griddle</h5>
  </div>
</div>

<div class="row">
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox hide-on-med-and-down" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">
  <h4 class="filters hide-on-med-and-down filterFont" style="
    height: 364px;
">Filter by:<br>
        <li class="divider"></li>
        <li class="divider"></li>
<p class="filterTitle">Stars</p>
        <li class="divider"></li>
        <li class="divider"></li>
  <form action="#">
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test4"  />
      <label for="test4"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star "></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test3"  />
      <label for="test3"><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test2"  />
      <label for="test2"></a><a class="fa fa-star"></a><a class="fa fa-star"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test1"  />
      <label for="test1"><a class="fa fa-star"></a></label>    </p>
  </form>
        <li class="divider"></li>
        <li class="divider"></li>
    <form action="#"> <p class="filterTitle">Price:</p>
            <li class="divider"></li>
        <li class="divider"></li>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test5"  />
      <label for="test5"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd "></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test6"  />
      <label for="test6"><a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
    <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test7"  />
      <label for="test7"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a></label>
    </p>
      <p class="starRating">
      <input class="with-gap" name="group1" type="radio" id="test8"  />
      <label for="test8"><a class="fa fa-usd"></a></label>    </p>
  </form>

</h4>
  </div>


<div id="card hide-on-large-only col m1 offset-m3"> 
  <div class="front hide-on-large-only carouselImg "> 
    <img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg">
  </div> 
  <div class="back hide-on-large-only carouselImg">
    <img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg">
  </div> 
</div>






  <div class="col l6" style="
    margin-left: 50px;
">
    <div class="carousel">

      <a class="carousel-item" href="#one!"><img  class="carouselImg filtersBox" src="https://pbs.twimg.com/profile_images/447546629021650944/QTtVShTW.jpeg"></a>
      <a class="carousel-item" href="#two!"><img class="carouselImg filtersBox" src="http://rutwist.com/images/upload/480x360/411_09c814dc0e.jpg"></a>
      <a class="carousel-item" href="#three!"><img class="carouselImg filtersBox" src="http://www.scarletmenus.com/logos/3f8b4136449e631db6197e62639a2d7_.jpg"></a>
      <a class="carousel-item" href="#four!"><img class="carouselImg filtersBox" src="http://s3-media4.fl.yelpcdn.com/bphoto/QQYYQiToEO1BcIYPAOdoEw/o.jpg"></a>
      <a class="carousel-item" href="#five!"><img class="carouselImg filtersBox" src="http://www.statecollege.com/assets/business/logos/6091.jpg"></a>
    </div>
  </div>
  <div class="col l2 offset-l1 col m3 offset-m1 filtersBox" style="
    margin-left: 50px;
    margin-top: 0px;
    height: 408px;
    
">

  <h6 class="filters companyInfoHeader hide-on-med-and-down" style="
  
    height: 364px;
    margin-top: 15px;

">Company Information
        <li class="divider"></li>
        <li class="divider"></li>
    <ul>
      <li class="companyInfo">Phone #:</li>
      <li class="divider"></li>
      <li>(732) 846-7090</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Address:</li>
      <li class="divider"></li>
      <li>130 Easton Avenue, New Brunswick</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Operating Hours</li>
      <li class="divider"></li>
      <li>8am - 3am</li>
      <li>Sunday-Sunday</li>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Price:</li>
      <li class="divider"></li>
      <a class="fa fa-usd"></a><a class="fa fa-usd"></a><a class="fa fa-usd"></a>
      <li class="divider"></li>
      <br>
      <li class="companyInfo">Rating:</li>
      <li class="divider"></li>
      <a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star"></a><a class="fa fa-star-half-o"></a>
      <li class="divider"></li>
    </ul>
    </h6>
  </div>
</div>

<div class="row">
  <div class="col l4 offset-l3">
   <a href="/addreview" class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-pencil-square-o"></i>Add Reviews</a>
  </div>
  <div class="col l4">
    <a class="waves-effect waves-light btn reviewBtn"><i class="material-icons left fa fa-comments-o"></i>See Reviews</a>
  </div>
</div>
