<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
<!-- Registration-->
<div class="container">
  <div class="row">
   <h4>Register</h4>
    <form action="/register" method="POST" class="col s6" id="registerform">
      <div class="row">
        <div class="input-field col s10">
          <input placeholder="First Name" id="firstname" type="text" name="firstname">
        </div>
        <div class="input-field col s10">
          <input placeholder="Last Name" id="lastname" type="text" name="lastname">
        </div>
        <div class="input-field col s10">
          <input placeholder="Username" id="username" type="text" name="username">
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Password" id="password" type="password" name="password">
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s10">
          <input placeholder="Email" id="email" type="email" name="email">
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit">Submit
      </button>
    </form>
  </div>
</div>




   

   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>